@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@400;600&family=Saira:wght@400;600;800;900&display=swap');
.saira { font-family: "Saira", sans-serif; }
.archivo { font-family: "Archivo Black", sans-serif; }
.poppins { font-family: "Poppins", sans-serif; }

.tomato { color: #ca3d2a; }
.eerie-black { color: #333333; }
.picton-blue { color: #00A3DA; }
.pear { color: #D1DB2F; }
.bg-tomato { background: #ca3d2a; }
.bg-eerie-black { background: #333333; }
.bg-picton-blue { background: #00A3DA; }
.bg-pear { background: #D1DB2F; }
.bg-light { background: #f9f9f9; }

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.banner {
	position: fixed;
	top: 0px;
}

.hero {
	width: 100vw;
	height: 85vh;
	position: relative;
}

.hero-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #00a3da;
  background-image: linear-gradient(to right, transparent, #00759c), url("/assets/plumbstuff-banner.jpg");
  background-repeat: no-repeat;
	background-size: cover;
}

.hero-bg::before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #111;
	opacity: 10%;
	content: "";
}

.footer {
	width: 100vw;
}

.services-img {
	max-height: 250px;
	object-fit: cover;
}

@media screen and (min-width: 60em) {
	.services-img {
		max-height: 170px;
	}
}
